/*
* @Author: admin
* @Date:   2017-12-01 14:25:12
* @Last Modified by:   鍚�
* @Last Modified time: 2017-12-20 15:31:51
*/
*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;


}
body{
	font-size: 14px;
	color: #b8b6b4;
	background: url(../images/colored_body_top2.png) center top no-repeat #1b2838;
	height:auto;
	position:relative;
	min-height: 100%;
}
a{
	color:#c6d4df;
}
/* 澶撮儴瀵艰埅鏍忔牱寮� */
.header{
	min-width: 940px;
	background-color: #171a21;
	font-size: 14px;
	color: #b8b6b4;
}
.header .content{
	width: 940px;
	height: 104px;
	margin:0px auto;
	position:relative;
	right:-90px;

}
.toplogo{
	padding-top: 30px;
	
	float: left;



}
.menulist{
	float: left;
	padding-top:43px;


}
.menulist a{
	padding-left: 7px;
	color: #b8b6b4;

}
.loginmenu{
	
	float: right;
	padding-top:10px;
}
.loginmenu span{
	padding-left:7px;
}
.loginmenu a{
	padding-left:7px;
	color: #b8b6b4;

}
/* 鍐呭澶磀iv */
.container{
	min-width:972px;
	min-height: 768px;
}
.container .top{
	margin:0px auto;
	padding-left: 171px;
	width:940px;
	position:relative;
}


/* 鍟嗗簵瀵艰埅鏍忔牱寮� */
.sotre_header{
	height: 66px;
	background-color:transparent;
	margin-bottom:-8px;
	padding-top: 24px;
}
.nav_area{
	height: 35px;
	background:rgba( 62, 126, 167, 0.8);
	padding-left: 10px;
	border:1px solid black;


}

/* 鍟嗗簵瀵艰埅榧犳爣婊戝姩涓嬫媺 */
.tab_pull{
	display:inline-block;
	cursor: pointer;
	border-right:1px solid black;
	

}
.tab_pull a{
	line-height: 34px;
	text-align: center;
}
.tab_pull span{
	display:inline-block;
	width: 19px;
	height: 12px;

	background-image:url(../images/btn_arrow_down_padded_white.png);
}

/* 鏄剧ず鐧诲綍鐢ㄦ埛 */
.login_username{
	float: right;
	line-height: 34px;
	text-align: center;

}

/* 搴曢儴 */
/* 鍨墖 */
.footspace{
	height: 340px;
}
.footer{
	position:absolute;
	background-color:#12212e;
	padding:16px 0 60px 0;
	bottom: 0;
	left:0;
	right:0;

}
.foot_content{
	padding-left:142px;
	margin:0px auto;
	width:940px;
}

.nav_back{
	background-color:rgba( 103, 193, 245, 0.2 );
	margin-left: 10px;
	border-radius: 2px;
	height:30px;
	display:inline-block;
	

}
.nav_back span{
	font-size: 12px;

	padding-left:15px;
	padding-right: 15px;
	
	text-align:center;


	line-height:30px;
}
.foot_bottom{
	padding-top:10px;
	width: 700px;
	float: left;

}
.footer_logo{
	padding-top: 2px;
	padding-left: 10px;
	
	float: left;
}
.foot_left{
	font-size:5px;
}
.foot_right{
	float: right;
}






/* 鎼滅储妗� */
.search_form{
	height: 25px;
	display:inline-block;
	float: right;
	position:relative;
	width: 200px;

	
}

.search{

	height: 25px;
	border:1px solid black;
	margin-top:5px;


}
.search_bu{
	float: right;
	background:rgba( 62, 126, 167, 0.8);
	border:none;
	

}


.search_input{
	
	position:absolute;
	top: 5px;
	
	border:none;
	display:inline-block;
	
	background: transparent;
	
	
	height: 25px;
	line-height:25px;
}


/* 涓婚〉闈㈡悳绱㈡爮鏍峰紡 */
.search_form2{
	height: 40px;
	display:inline-block;
	background:#10293a;
	width: 740px;
	position:relative;

	

	
}
.search_form3{
	padding-left: 5px;
	height: 25px;
	display:inline-block;
	
	position:relative;
	width: 200px;

	
}

.search2{

	height: 25px;
	border:1px solid black;
	margin-top:5px;


}
.search_bu{
	float: right;
	background:rgba( 62, 126, 167, 0.8);
	border:none;
	

}


.search_input{
	color:white;
	
	position:absolute;
	top: 5px;
	
	border:none;
	display:inline-block;
	
	background: transparent;
	
	
	height: 25px;
	line-height:25px;
}

/* 主页面搜索内容样式 */
.search_context{
	margin-top: 15px;
	width: 740px;
}
.search_result{
	display:inline-block;
	height: 45px;
	background:rgba( 0, 0, 0, 0.2 );
}
.result_left{
	display:inline-block;

}
.result_right{
	height: 45px;
	display:inline-block;
	vertical-align:top;
	overflow: hidden;
}
.result_right div{
	display:inline-block;
}
.gname{
	width: 275px;
	height: 45px;
	line-height:45px;
	vertical-align:top;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 20px;
}
.gname span{
	vertical-align:top;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.g_price{
	width: 226px;
	height: 45px;
	text-align: right;
	line-height:45px;
	vertical-align:top;
	background:rgba( 0, 0, 0, 0.2 );

}
.g_price a{
	display:inline;
	vertical-align:top;
}

.publish_time{
	line-height:45px;
	height: 45px;
	width: 85px;
}

/* 分页 */
.page{
	margin-top: 50px;
}













